@model LTWeb_CodeFirst.Models.Invoice
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết hóa đơn</h1>

<div>
    <h4>Thông tin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tổng giá tiền
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            Ngày tạo hóa đơn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateOn)
        </dd>
        <dt class = "col-sm-2">
            Xe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Name)
        </dd>
        <dt class = "col-sm-2">
            Khuyến mãi áp dụng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promotion.Content)
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var userId = user.Id;
        <a asp-action="Index" asp-route-userId="@Model.UserId">Trở về lịch sử giao dịch</a>
    }

</div>
