@model IEnumerable<LTWeb_CodeFirst.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Lịch sử mua hàng</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Tổng giá tiền
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Xe
            </th>
            <th>
                Mã khuyến mãi áp dụng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.Car.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.Promotion.Content)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết hóa đơn</a> |
            </td>
        </tr>
}
    </tbody>
</table>
