@using Microsoft.AspNetCore.Identity
@model IEnumerable<LTWeb_CodeFirst.Models.FavoriteList>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Favorite";
}
<div style="min-height:600px;">

    <h1>Danh sách yêu thích</h1>

    <p>
        <a asp-controller="Home" asp-action="Index" class="azzz"><img src="@Url.Content("~/images/logo/back-arrow.png")" width="25px" /> Back To List</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Xe
                </th>
                <th>
                    Hãng
                </th>
                <th>
                    Loại
                </th>
                <th>
                    Hình
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => @item.Car.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @item.Car.Company.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @item.Car.CarType.Name)
                    </td>
                    <td>
                        <img src="@item.Car.CarImages" width="100px" alt="Alternate Text" />
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);
                            var userId = user.Id;
                            <a asp-action="Delete" asp-route-id="@item.CarId" asp-route-userId="@userId">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<style>
    .azzz{
        text-decoration:none;font-size:18px;color:black;
    }
    .azzz:hover{
        color:darkblue;
        font-weight:bold;
    }
</style>