@model IEnumerable<LTWeb_CodeFirst.Models.Promotion>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách khuyến mãi</h1>

<p>
    <a asp-action="Create">Thêm khuyến mãi mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nội dung khuyến mãi
            </th>
            <th>
                Giá trị khuyến mãi
            </th>
            <th>
                Ẩn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
            </td>
        </tr>
}
    </tbody>
</table>
