@model LTWeb_CodeFirst.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Xe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên Xe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Chỗ Ngồi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seat)
        </dd>
        <dt class = "col-sm-2">
            Hình Xe
        </dt>
        <dd class = "col-sm-10">
            <img src="/images/@Model.CarImages" alt="hinhanh.jpg" width="200px" />
        </dd>
        <dt class = "col-sm-2">
            Động Cơ
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Gear)
            {
                <text>Số tự động</text>
            }
            else
            {
                <text>Số sàn</text>
            }
        </dd>
        <dt class = "col-sm-2">
           Giá Bán
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Loại Xe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarType.Name)
        </dd>
        <dt class = "col-sm-2">
            Hãng Xe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class = "col-sm-2">
            Bảo Hành
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warranty.Content)
        </dd>
        <dt class = "col-sm-2">
            Trạng Thái Ẩn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Sửa</a> |
    <a asp-action="Index">Trở về danh sách</a>
</div>
